.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.vercel_build_output/
.vercel
local/
*.tmp
*.tmp.*
data-fetch/miniatures/aides-jeunes-repo

# Generated at build time
src/lib/data/*
!src/lib/data/classement-villeplus.json
!src/lib/data/regions-geojson-version-simplifiee.json

test-results/*
