Le Grand Albigeois propose une aide à l’achat de vélo, sous forme de subvention, aux habitants de l’agglomération qui feront l’acquisition d’un vélo avec ou sans assistance électrique.

Pour tout achat d'un vélo classique, vélo à assistance électrique ou vélo cargo, vous pouvez bénéficier d'une aide à l'achat sans conditions de rerssources d’un montant de 25% du montant TTC du vélo et avec un plafond qui dépend du type de vélo :

- jusqu'à 100 € pour un vélo classique ou vélo pliant,
- jusqu'à 250 € pour un vélo à assistance électrique (VAE),
- jusqu'à 500 € pour un vélo cargo.

Afin de vous inciter à utiliser régulièrement votre vélo et vous accompagner pour changer durablement vos habitudes de déplacements, cette aide est couplée à la réalisation d’un mini-stage Circuler en ville (tarif : 10€). Ce stage de 3h permettra, en situation de circulation, de bénéficier de conseils de la part d’un moniteur diplômé pour être plus à l’aise pour circuler à vélo en ville. Ce temps sera aussi un moment privilégié pour échanger entre usagers de la route sur les pratiques de chacun, donner des conseils et être à l’écoute des remontées d’information sur le réseau cyclable.
