Amiens Métropole a annoncé les conditions de son aide à l’achat de vélo électrique en 2022. L’aide sera remboursée à hauteur de 25 % du prix d’achat du vélo, plafonnée à 200 €. Pour bénéficier de cette aide, il faudra acheter son vélo neuf entre le 1er janvier et le 31 décembre 2022 auprès d’enseignes d’Amiens Métropole. Le dossier de subvention devra ensuite être déposé avant le 31 mars 2023.

Cette aide est cumulable avec celles du Département et de l’État. Elle s’adresse aux résidents d’Amiens et est limitée à un seul bénéficiaire par adresse postale. Les bénéficiaires de l’aide 2021 sont exclus.