Angers Loire Métropole propose aux habitants de son territoire une subvention pour l'achat d'un vélo neuf. Ce dispositif a été mis en place en 2019 pour l'acquisition de vélo à assistance électrique. Depuis le 15 décembre 2021, il est élargi à l'acquisition de vélo sans assistance électrique.

Une seule aide est accordée par foyer, selon le barème suivant:

- vélo à assistance électrique: subvention de 200 euros maximum
- vélo-cargo à assistance électrique: subvention de 400 euros maximum
- vélo sans assistance: subvention de 50 euros maximum
- vélo-cargo sans assistance: subvention de 100 euros maximum.
