ARCHE Agglo propose un dispositif d’aide à l’achat de vélos à assistance électrique (VAE) afin de développer les modes de transport durables concernant les trajets dits utilitaires (trajets domicile-travail, courses, écoles…).

Concrètement, les particuliers résidant sur le territoire de l’Agglo peuvent bénéficier d’une aide équivalente à 15 % du prix d’achat du VAE plafonnée à 150 €, pour tout achat de moins de 4 000 €. Il n’y a pas de limite de prix concernant les vélos cargo.

Pour bénéficier de cette aide, il faut acheter son VAE dans l’un des 6 vélocistes partenaires du territoire :

À Tain : Vélodis, Cycles Giraud.
À Tournon : Station Bees Tournon, Tournon Cycles, La Maison du Cycle, Intersport Tournon.
