Ardenne Métropole met en place une aide pour l'achat de vélos neufs ou remis à neuf, afin de encourager les habitants à utiliser le vélo pour se déplacer.

Le montant de l'aide est de 33% du prix du vélo, plafonné à 200 euros, ou de 40% du prix du vélo s'il est conçu et assemblé en France, plafonné à 300 euros.

Pour bénéficier de l'aide, il faut être majeur ou mineur à partir de 11 ans, résider dans une des communes membres d'Ardenne Métropole et effectuer son achat exclusivement auprès d'un vendeur partenaire de l'opération « Agglo Vélo ».

La prime peut être attribuée une fois à chaque membre du foyer sur une période de 6 ans.
