Vous habitez la Communauté Urbaine d’Arras et vous souhaitez acheter un vélo à assistance électrique ?

La Communauté Urbaine d’Arras participe à l’achat de votre vélo chez un commerçant du territoire, à hauteur de 30 % du montant TTC plafonné à 300 €.
