La Communauté de communes du Pays de Dol et de la Baie du Mont Saint-Michel vous offre une aide de 100 € pour l’achat d’un vélo à assistance électrique classique (VAE). Il s’agit d’une aide forfaitaire et sans conditions de ressources.

L'aide est aussi valable pour l'achat d'un kit d'électrification d'un vélo mécanique simple.
