Le Grand Besançon Métropole apporte une aide pour l’achat d’un vélo à assistance électrique (VAE) pour les habitants de son territoire. Cette aide est destinée à encourager l’usage des modes de déplacement actifs et alternatifs à l’usage de la voiture individuelle.

Le soutien de la communauté urbaine s’élève à hauteur de 25% du prix d’achat de l’équipement neuf choisi. Cette subvention est limitée à 200 € maximum pour un VAE pliant ou non pliant, et à 400 € pour un vélo cargo à assistance électrique.

Pour en bénéficier, il faut remplir notamment les conditions suivantes : être majeur, être domicilié dans une des communes du Grand Besançon, et avoir un revenu fiscal de référence par part inférieur ou égal à 19 665 €
