Bordeaux Métropole renouvelle jusqu'en 2023 le dispositif d'aide à l'acquisition de vélos à assistance électrique, vélos pliants, vélos-cargo, tricycles pour adultes et dispositifs d'électrification de vélos standards, en faveur des résidents de la métropole et de salariés d'entreprises situées sur le territoire métropolitain ayant adopté un plan de déplacements entreprise.

Le montant de l’aide est fixé à 100€ maximum par vélo. Une personne éligible ne peut recevoir qu’une aide par an. Dans le cas où le prix d’achat est inférieur à 100 €, le montant de l’aide est équivalent au prix d’achat du matériel.
