La campagne 2022 a été un succès et le budget qui lui était consacré est malheureusement épuisé.

Il n'est donc plus possible de bénéficier d’une aide de la communauté d’agglomération de Bourges

**Une nouvelle campagne devrait avoir lieu courant 2023.**
