Le montant de l’aide sera adapté selon le type de vélo (les montants sont donnés à titre indicatif et sont susceptibles d’évoluer) et est valable jusqu’au 31 décembre 2022. Il est de 30 % maximum du prix (vélo seul ou vélo + casque et/ou antivol), dans la limite de :

- 100 € pour un vélo classique (avec possible cumul d’une aide pour l’achat d’une remorque)
- 300 € pour un VAE (avec possible cumul d’une aide pour l’achat d’une remorque)
- 400 € pour un vélo cargo (à assistance électrique ou non)
- 400 € pour un vélo adapté
- 100 € pour une remorque (avec possible cumul d’une aide pour l’achat d’un vélo)
