La Communauté d'agglomération met en place une aide à l’acquisition de vélos classiques, de vélos à assistance électrique, de vélos cargos et de vélos à main (dit « handbike »), ainsi que d’accessoires pour assurer la sécurité à vélo.

L'aide est attribuée sans conditions de ressources aux habitants de l’agglomération pour l’achat de vélos pour adulte, dans la limite d’un vélo par foyer et par an. Elle est fixée à 30 % du prix d’achat TTC et plafonnée en fonction du type de vélo à savoir :

- 100 € pour l’achat d’un vélo classique,
- 250 € pour l’achat d’un vélo à assistance électrique,
- 500 € pour l’achat d’un vélo cargo ou de vélo à main qui peuvent être avec ou sans assistance électrique.

Afin de favoriser la pratique du vélo en toute sécurité, une aide complémentaire est attribuée aux particuliers souhaitant faire l’acquisition d’accessoires de sécurité et de sièges vélos destinés au portage d’enfants. Cette aide est fixée à 50% du montant total pour l’achat d’accessoires de sécurité et est plafonnée à 30€.
