La collectivité de Corse accorde une aide à l’achat d’un vélo à assistance électrique pour tous les résidents de l’Île de beauté.

L’aide est de 25% du prix TTC du vélo électrique avec un maximum de 500€.

Seuls les achats dans un magasin partenaire sont éligibles, il n’est pas possible d’acheter le vélo en ligne.
