Une aide à l’acquisition est proposée par la Communauté d’agglomération du Cotentin.

Le montant de cette aide s’élève à 15% du prix TTC du vélo à assistance électrique et est plafonné à 150 €. Elle s’élève à 25% du prix TTC du vélo et est plafonnée à 240 € pour les personnes ayant bénéficié du service de location de vélo à assistance électrique.

Cette aide à l’acquisition ne peut être attribuée qu’une seule fois pour chaque bénéficiaire.
