La Côte-d'Or propose un programme d'aide financière aux personnes souhaitant acheter un vélo à assistance électrique (VAE) neuf.

Les vélos urbains et VTC AE sont éligibles, mais les VTT AE, de type route et de type treckking AE sont exclus. L'aide est de 250 € par VAE acheté dans un commerce de Côte-d'Or, avec une bonification de 100 € pour les vélos assemblés ou produits en Côte-d'Or.

Ce dispositif est valable jusqu'au **31 décembre 2022**.
