La Municipalité de Daix propose une aide à l’achat d’un deux-roues à assistance électrique (vélo ou cyclomoteur). Elle offre dans ce cadre aux Daixois intéressés par leur acquisition, une subvention pouvant aller jusqu’à 400 € sur le prix d’achat du véhicule.

Par cette mesure, elle entend favoriser la pratique du deux-roues à davantage d’usagers Daixois, en leur permettant notamment de s’affranchir des contraintes du relief de notre Commune.

Il est en outre bon de rappeler que la distance moyenne de la plupart des déplacements urbains étant inférieure à 5 km (le centre ville de Dijon est à moins de 5 km), l’utilisation du deux-roues s’en trouve ici particulièrement appropriée.
