Si votre résidence principale se situe sur la commune de Divonne-les-Bains et que vous faites l’acquisition d’un vélo neuf ou d'occasion, vous êtes éligible à la prime vélo de la ville.

L’acquisition du matériel doit être effectuée auprès d’un commerçant professionnel implanté sur le territoire de l’Agglomération du Pays de Gex.

Le montant de la prime vélo est de 50% du prix d’achat TTC dans la limite de 200€ pour l’achat d’un vélo neuf ou d'occasion à assistance électrique ou d’un vélo cargo, et de 50% du prix d’achat TTC dans la limite de 100€ pour l’achat d’un vélo neuf ou d'occasion à propulsion humaine ou d’un vélo pliant.
