Dunkerque met en place le Plan vélo + pour favoriser la pratique du vélo dans l’agglomération. L’aide à l’acquisition d’un vélo a pour but d’inciter les collégiens, les lycéens et tous les habitants de l’agglomération à se déplacer à vélo pour leurs trajets quotidiens.

Elle est réservée aux habitants de la Communauté urbaine de Dunkerque à raison d’une aide par personne âgée de plus de 11 ans (ou collégien) et concerne tous les types de vélos neufs (classique, pliant, électrique, cargo...

Le vélo doit être acheté neuf avant le 31 décembre 2022 chez un commerçant situé sur le périmètre de la Communauté urbaine de Dunkerque. Vous devez vous engager à utiliser le vélo pour les déplacements quotidiens.

Le montant est l’aide est de 80 euros. Pour les personnes à faibles ressources (bénéficiaires du RSA, de l’ASS), l’aide est de 150 euros.
