Le Département accorde une aide à tout particulier résidant dans la Somme, sans condition de ressources, pour l’achat d’un vélo électrique auprès d’un commerçant de la Somme.

Le montant de l’aide est de 25% du prix d’achat TTC. L’aide est plafonnée à 400 €. Une seule aide pourra être apportée par foyer fiscal.
