Le département de l'Hérault propose une aide financière de 250€ pour l'achat d'un vélo électrique, sous certaines conditions de ressources.

Si votre employeur est engagé dans un plan de mobilité, vous pouvez bénéficier d'un chèque "Hérault Mobilité" de 200€, sans condition de revenu. L'aide est complétée par un bonus "Hérault Pichòt" pour l'achat d'un siège vélo et/ou d'une carriole.

Enfin les titulaires de la Carte Mobilité Inclusive peuvent bénéficier d'une aide de 1000 euros pour l'achat d'un vélo électrique adapté ou de matériels adaptés (dispositif de troisième roue, guidons électriques..).
