La Communauté d'Agglomération d'Épinal propose une aide financière pour l'achat d'un vélo à assistance électrique. Toute personne de 18 ans ou plus et habitant sur le territoire de la Communauté d'Agglomération d'Épinal peut bénéficier de cette subvention.

Le montant de la prime varie en fonction du type de vélo acheté :

- Pour l'achat d'un VAE neuf ou reconditionné et vendu par un professionnel : prime de 20% du coût d'achat, plafonnée à 200€

- Pour l'achat d'un VAE Cargo : prime de 20% du coût d'achat, plafonnée à 300€

- Pour l'achat d'un kit électrique monté par un professionnel : prime de 20% du coût d'achat, plafonnée à 200€
