La région Grand Est soutient l’acquisition de vélo à assistance électrique en proposant une aide d’un montant de 200€.

Cette aide est accessibles à tous les particuliers majeurs résidant dans la région Grand Est.

Elle concerne les vélos électriques, les vélos cargos électriques ainsi que les kits de conversion.
