La Ville d'Illkirch-Graffenstaden subventionne l'achat de vélos à assistance électrique jusqu'à 200 € :

- 100 € pour l’achat d’un Vélo à Assistance Électrique neuf ou occasion d’une valeur inférieure à 800 €.
- 200 € pour l’achat d’un Vélo à Assistance Électrique neuf ou occasion d’une valeur supérieure à 800 €.
- 200 € pour l’électrification d’un vélo classique.

Cette aide est destinée à encourager les déplacements domicile-travail en vélo et ainsi réduire les émissions polluantes. Pour bénéficier de cette aide, il faut habiter à Illkirch-Graffenstaden, et acquérir un vélo homologué. L'aide est limitée à une demande par personne. Cette aide est une excellente opportunité pour les Illkirchois de se mettre au vélo tout en réduisant leur impact sur l'environnement !
