Depuis le 1er octobre 2019, la Communauté d’Agglomération de La Rochelle aide les habitants à acheter un vélo à assistance électrique (VAE) neuf ou reconditionné. L’aide est définie en fonction des ressources de chaque famille.

Pour les familles dont le quotient familial est inférieur ou égal à 450 €, la prime VAE est de 50 % du prix du vélo, plafonnée à 400 €. Pour les familles dont le quotient familial est compris entre 451 et 650 €, la prime VAE est de 40 % du prix du vélo, plafonnée à 300 €. Enfin, pour les familles dont le quotient familial est compris entre 651 et 750 €, la prime VAE est de 30 % du prix du vélo, plafonnée à 200 €.

Cette aide est étendue à l’acquisition de vélos cargo (électriques ou non) et de remorques électriques pour cycles.
