La Communauté d’Agglomération du Pays de Laon souhaite œuvrer pour la mobilité durable sur son territoire et en particulier pour la promotion des modes doux et actifs. Elle entend ainsi favoriser la pratique du vélo. Pour ce faire, une aide forfaitaire de 300 € est accordée aux particuliers pour l’acquisition d’un VAE et ce, sans condition de ressource. Ce dispositif est mis en place depuis le 1er septembre 2020 .

Une seule aide est attribuée par bénéficiaire et elle n’est pas renouvelable.
