Dans le cadre du "Plan vélo 2025", l'Agglomération et la Ville des Sables d'Olonne vont investir 7,5 millions d'euros dans le maillage et la sécurisation de leur réseau cyclable.

Pour encourager cette pratique positive pour l'environnement et la santé, ils ont mis en place une aide financière pour l'achat de vélos. Cette aide est ouverte aux particuliers résidant sur le territoire de l'Agglomération, et est limitée à un vélo par foyer fiscal.

Les véhicules concernés sont les vélos traditionnels, les vélos à assistance électrique (VAE) pliants ou non pliants, et les vélos cargo traditionnels ou électriques. Le montant de la subvention est de 50% du prix d'achat TTC pour les vélos traditionnels, 25% pour les autres vélos, dans la limite d'un montant maximal de 300€.
