# Prime pour l’achat d’un vélo au Luxembourg

Une prime est instaurée au Luxembourg afin d'inciter les particuliers à opter pour l'électromobilité et la mobilité active. Cette aide financière peut être accordée aux personnes physiques qui résident au Luxembourg, pour leurs besoins personnels, qu'il s'agisse d'une personne adulte ou d'un mineur. L'aide financière est allouée pour les véhicules neufs pour lesquels la facture est établie entre le 1er janvier 2019 et le 31 mars 2024 inclus.

Le montant de la prime est de **50% du coût hors tva du véhicule, sans toutefois dépasser 600 euros**. Les demandes en vue de l’obtention de l’aide financière sont à introduire au plus tard 1 an après l’acquisition du vélo.
