La Métropole de Lyon accorde une aide allant de 100 à 800 euros maximum pour l’achat d’un vélo effectué entre le 1<sup>er</sup> janvier et le 31 décembre 2022. Le montant attribué ne sera pas supérieur à **50% du montant total TTC de l’achat**. Le niveau d’aide est variable et déterminé en fonction de votre revenu fiscal de référence et du nombre de parts fiscales, afin de pouvoir aider davantage les personnes ayant les plus faibles revenus.

L'aide de la Métropole de Lyon s'applique aux vélos-cargo ou familiaux, aux vélos pour personnes à mobilité réduite ou en situation de handicap (handbike), aux vélos pliants, aux vélos électriques et, nouveauté en 2022, aux vélos mécaniques d’occasion reconditionnés.

Pour bénéficier de l'aide, vous devez résider dans l'une des 59 communes de la Métropole de Lyon et acheter en votre nom propre ou pour un mineur de plus de 16 ans dont vous êtes le représentant légal. L'achat doit être effectué chez un commerçant, une association ou un atelier situé sur le territoire de la Métropole de Lyon (l'adresse doit être indiquée sur la facture), sauf les vélos pour personne à mobilité réduite ou en situation de handicap.
