Le Plan Vélo est un programme de mandat qui vise à encourager les déplacements doux, comme le vélo. Parmi les mesures mises en place dans ce cadre, il y a une aide à l'achat de vélos électriques.

Cette aide est destinée aux personnes dont le revenu fiscal par part dépasse le plafond déterminé par l'État pour une aide complémentaire. Elle s'élève à 150€ pour un vélo neuf. Pour les revenus inférieurs, une aide de 100€ est attribuée.

Pour bénéficier de cette aide, il faut être domicilié sur la commune depuis au moins un an et présenter une facture d'un vélo aux normes européennes. Le vélo doit ensuite être conservé pendant une durée de cinq ans.
