Le Département de la Mayenne propose une aide de 300 € pour l’achat d’un vélo à assistance électrique ou la conversion via un kit d’éléctrification. Cet achat devra être réalisé dans un commerce ou chez un artisan de la Mayenne.

Tous les Mayennais sont éligibles à cette aide, qui est cumulable avec d'autres subventions. L'aide s’élève à 25 % des dépenses TTC, jusqu'à un maximum de 300 €.

Pour bénéficier de cette aide, il suffit de faire une demande en ligne avant le 15 janvier 2023. Une seule subvention par foyer fiscal est possible. L’achat doit être réalisé en 2022.
