# Aide à l’achat d’un vélo à assitance électrique à Monaco

Le Gouvernement monégasque a mis en place un nouveau dispositif de subventions pour l'achat de véhicules propres en 2019. Ce dispositif vise à favoriser les véhicules les plus vertueux et à tenir compte des évolutions technologiques. En plus des subventions sur les véhicules électriques une subvention de 400 euros est accordée pour l'achat de vélos à assistance électrique en Principauté.

À noter que les résidents monégasques ne peuvent pas bénéficier du bonus écologique mis en place par l’État français.
