Montluçon Communauté met en place un dispositif d’aide à l’achat de vélos électriques pour les habitants de l’agglomération. Cette aide est destinée à sensibiliser et inciter à la pratique du vélo sous toutes ses formes, notamment utilitaire.

Pour bénéficier de cette aide, il faut être résident permanent d’une des 21 communes de l’agglomération et acheter un vélo électrique neuf dans un point de vente localisé sur Montluçon Communauté. Il n’y a pas de plafond de prix pour les vélos et chaque foyer fiscal peut bénéficier de deux aides maximum.
