Le Grand-Montauban subventionne pour ses habitants les vélos cargos (avec ou sans assistance électrique), pour un montant de 250€.

Ce montant est forfaitaire et est disponible pour tous les habitants de l'agglomération sans condition de ressources.
