Montpellier Méditerranée Métropole a mis en place plusieurs dispositifs d’aide à l’achat de vélo à assistance électrique (VAE) à destination des particuliers et des professionnels.

Une subvention d’un montant de 500 € maximum dans la limite de 50 % de la valeur d'achat d'un vélo neuf, sans condition de ressource, sera versée à tous les habitants de la Métropole de plus de 18 ans qui feront l’acquisition d’un VAE neuf acheté dans un magasin de la métropole à partir du 1er novembre 2020 jusqu'au 31 décembre 2022.
