Dans le cadre de son projet communal en faveur du Développement Durable, la Commune de Mougins a instauré depuis 2015, un dispositif de subventionnement au profit des mouginois pour l’achat d'un Vélo à Assistance Electrique (V.A.E).

Le montant de la subvention est de 25 % du prix d’achat TTC du V.A.E dans la limite de 300 € par matériel neuf acheté pendant la durée du dispositif.

Toute personne physique âgée de 16 ans au moins, domiciliée à Mougins qui fait l’acquisition d’un Vélo à Assistance Electrique homologué neuf en son nom propre ou celui d’un mineur dont il est le représentant légal, peut bénéficier de cette subvention.
