La ville de Nanterre propose une aide financière pour l'achat de vélos mécaniques ou électriques, ainsi que pour l'achat de kits de conversion pour les vélos mécaniques.

L'aide est de 400 € pour l'achat d'un vélo mécanique neuf, de 300 € pour l'achat d'un kit de conversion électrique et de 100 € pour l'achat d'un vélo électrique neuf.
