Nevers Agglomération aide les habitants de l’agglomération à acheter un vélo (avec ou sans assistance électrique) ou à électrifier leur vélo classique.

La subvention est fixée à 30 % du prix d’achat, par matériel neuf ou d’occasion, acheté auprès d’un revendeur implanté sur le territoire de Nevers Agglomération, dans la limite de : 150 € pour les vélos à assistance électrique (VAE) et l’électrification de vélos classiques ; 75 € pour les vélos standards.

Seuls les équipements dont le prix d’achat est inférieur ou égal à 1 650 € pour les VAE et l’électrification de vélos classiques et 500 € pour les vélos standards sont éligibles à ce dispositif.

Chaque demandeur ne peut bénéficier que de deux aides au maximum pour un même foyer fiscal sur
