La Métropole Nice Côte d’Azur encourage la mobilité durable en instituant un dispositif de subventionnement pour les particuliers établis à titre principal sur le territoire métropolitain. Cela leur permet de se doter d’un vélo à propulsion humaine ou d’un deux roues électrique.

Pour les vélos mécaniques, une aide de 50% du prix d’achat en € ttc, plafonnée à 100 €, est accordée. Pour les vélos électriques, la Métropole a souhaité renforcer son soutien à la mobilité électrique en augmentant le montant de la participation à 400€.

Vous contribuez ainsi à la préservation de l’environnement et de la santé publique en participant activement à la réduction des émissions de gaz à effet de serre ainsi qu’à la limitation des nuisances sonores.
