Orléans Métropole propose un dispositif d’aide à l’achat de Vélo à assistance électrique (VAE) et de vélos dits cargos, à 2 ou 3 roues. Toutes les personnes dont le quotient familial CAF est inférieur à 2 000 € / mois sont éligibles (près de 50% des habitants d’Orléans Métropole) et peuvent bénéficier d’une réduction immédiate pouvant aller jusqu’à 400€ pour les VAE et 1 000€ pour un vélo cargo (subvention de 25% du coût d’achat TTC du vélo), à faire valoir auprès des vendeurs partenaires.

Pour en bénéficier, il suffit de remplir et déposer un dossier avant de procéder à l’achat. Ce « chèque vélo », valable jusqu’au 31/12 de l’année d’émission, est nominatif et non cessible. Les équipements de sécurité associés à l’achat d’un vélo sont également éligibles (casques, antivols…).
