La ville de Paris dispose de nombreuses aides financières pour inciter les particuliers et les professionnels à recourir à des modes de déplacements propres.

Parmi ces aides, il y a celles destinées à encourager la pratique du vélo. Les vélos électriques ou vélos cargos neufs, ainsi que les kits de motorisation d’un vélo sans assistance électrique, sont éligibles à cette aide.

Le montant de l'aide est de 33 % du prix d'achat hors taxe, plafonné à 400 € pour les vélos électriques et 600 € pour les vélos cargos, et 100% du prix du vélo jusqu'à 100€ pour un vélo mécanique simple.

Ces aides s'adressent aux personnes physiques résidant à Paris. À partir du 15 octobre 2022 ces aides sont soumises à un plafond de ressource : votre revenu fiscal de référence doit être inférieur à 6300 € par an.

L’aide de la ville de Paris se cumule avec l’aide versée par la région Île-de-France, mais il faut noter que le plafond de l’aide de la région est diminué du montant versé par la ville de Paris.
