Pau Béarn Pyrénées Mobilités offre une aide de 15% sur le prix TTC d'achat d'un vélo, plafonnée à 200 euros pour les vélos pliants et les vélos à assistance électrique, et à 350 euros pour les vélos cargos. Cette aide est réservée, sans condition de ressource, aux habitants des 37 communes membres du Syndicat Mixte Pau Béarn Pyrénées Mobilités.

Les vélocistes locaux ayant souhaité s'inscrire dans le dispositif en tant que "Partenaires Engagés", appliquent lors de l'achat une remise supplémentaire égale à 5% du prix TTC du vélo, plafonnée à 200 euros. Cette offre supplémentaire comprend également une visite de contrôle gratuite dans un délai de six mois après l'achat, ainsi qu'une disponibilité des pièces et un service après-vente en magasin couvrant l'ensemble des prestations d'entretien des organes mécaniques ou électriques pour une durée minimum de 6 ans.
