TXIK TXAK est une organisation qui soutient les usagers qui optent pour des modes de transport plus respectueux de l’environnement, comme les vélos à assistance électrique. Les habitants en résidence principale de l’une des 158 communes de l’agglomération Pays Basque-Adour et les habitants de Tarnos, Ondres et Saint Martin de Seignanx peuvent bénéficier d’une subvention par foyer fiscal pour l’achat d’un vélo électrique.

L’aide à l’achat est est calculée en fonction de votre quotient familial ainsi que le type et montant d’achat du vélo. Par exemple, pour les vélos électriques, elle est plafonnée à 600€ et est calculée sur une base allant de 20 à 60% du coût d’achat du vélo.

Pour bénéficier de cette aide, vous devez être habitant en résidence principale sur le territoire, avoir 18 ans, avoir un quotient familial inférieur à 1200€, et la facture doit être totalement acquittée et de moins de 6 mois par rapport à la date de dépôt de votre demande d’aide.
