La Région des Pays de la Loire souhaite encourager le développement des modes doux en intermodalité avec le train. Elle propose une aide à l’achat valable :

- pour un vélo pliant
- ou pour un vélo à assistance électrique

Cette aide est réservée aux les abonnés Tutti illimité, Métrocéane mensuels, les abonnés annuels de Loire-Atlantique, Maine et Loire et Sarthe, ainsi que les abonnés mensuels des réseaux de Mayenne et Vendée (hors scolaires).

Le montant de l’aide est de 50% du prix d’achat TTC plafonné à 200€ pour les vélos pliants comme pour les vélos à assistance électrique. Ces aides ne sont pas cumulables entre elles, un vélo pliant à assistance électrique ne pourra bénéficier que d’un seul type d’aide.
