La Communauté de Communes des Portes de Romilly-sur-Seine (CCPRS) subventionne une prime de 100€ pour l'achat d'un Vélo à Assistance Electrique (VAE).

Pour bénéficier de cette aide, il faut résider dans l'une des six communes membres de la CCPRS, avoir plus de 18 ans et ne pas avoir déjà bénéficié de cette aide ni aucun autre membre de votre foyer au cours de l'année.

Les conditions pour bénéficier de l'aide sont d'acquérir le vélo chez un fournisseur implanté sur le territoire de la CCPRS et de s'engager à ne pas vendre le vélo dans l'année qui suit son achat.

La demande doit être faite au plus tard dans les trois mois suivant l'achat du vélo.
