Saint-Malo Agglomération vous propose une aide financière pour l'achat d'un vélo à assistance électrique (VAE) neuf auprès d'un commerce de cycles partenaire.

Pour l'achat d'un vélo à assistance électrique, vous pouvez bénéficier d'une aide fixée à 10% du prix d’achat TTC du vélo à assistance électrique neuf jusqu'à 120 € pour les vélos à assistance électrique ou 400 € pour les vélos cargo et vélos adaptés de type tricycles électriques.

Cette aide est complétée par une remise de 50 € sur les accessoires (antivol, casque, sacoches...) et/ou services (ex. gravage du vélo) offerte par les commerces de cycles partenaires.

Pour bénéficier de la subvention, vous devez être une personne majeure domiciliée dans l'une des 18 communes de Saint-Malo Agglomération, acheter un vélo neuf exclusivement auprès d'un commerce de cycles partenaire, effectuer votre achat avant le 31 décembre 2022, et déposer votre dossier de demande d'aide dans les 6 mois maximum après la date d'achat.
