La Communauté d’Agglomération Sophia Antipolis (C.A.S.A) aide les résidents du territoire à acquérir un vélo ou vélo à assistance électrique (VAE) en leur offrant une subvention de 25 % du prix d’achat TTC du vélo, dans la limite de

- 300€ pour les quotients familiaux inférieurs à 1 200€
- 200€ pour les quotients familiaux compris entre 1 200€ et 1 600€
- 100€ pour les quotients familiaux compris entre 1 600€ et 2 000€
