La Communauté d’Agglomération Tarbes Lourdes Pyrénées (CATLP) propose une aide à l’achat de vélos à assistance électrique (VAE) et vélos cargos d’un montant de 200 €.

L’aide est ouverte à tous les habitants de la CATLP, sans condition de ressources, pour l’achat :

- d’un vélo à assistance électrique neuf, d’un montant maximum de 2000 €
- d’un vélo cargo neuf

Un seul vélo par foyer pourra en bénéficier.
