La Métropole TPM soutient l’achat de vélos à Assistance Électrique (VAE) afin de réduire les émissions de gaz à effet de serre et les déplacements en voiture. Ce dispositif d’aide permet aux habitants du territoire TPM de bénéficier d’une aide pouvant aller jusqu’à 25% du prix d’achat d’un VAE.
