Tulle agglo met en place le dispositif "L'agglo à vélo" pour encourager les habitants de son territoire à s'équiper en vélo à assistance électrique. Cela se formalise par un chèque d'une valeur de 200 euros, valable 3 mois après son émission auprès des 4 vélocistes du territoire et partenaires de l'opération : M'Bike, Brival, Intersport et Décathlon Essentiel.

Cette aide s'adresse aux personnes majeures résidant sur le territoire de l'agglo et une seule par foyer sur une période de 3 ans.
