Dans le cadre de son Plan Vélo et du développement de la mobilité cyclable en vallée d’Ossau, la communauté de communes Vallée d’Ossau intervient auprès des habitants pour l’aide à l’achat d’un Vélo à Assistance Electrique (VAE) jusqu’à 200 euros.

À partir du lundi 29 août, les habitants des 18 communes de la vallée, peuvent demander une aide financière à l’acquisition d’un VAE de type vélo de ville en déposant un dossier complet de demande d’aide auprès de l’espace France Services de la CCVO. Ce nouveau dispositif inscrit dans l’ensemble des actions du PLAN VELO de la Communauté de Communes vise à accompagner le développement de nouvelles solutions de mobilité en soutenant les particuliers qui souhaiteraient utiliser un VAE dans leurs déplacements quotidiens.
