Depuis 2016 l'agglomération de Golfe du Morbihan-Vannes aide les habitants à acheter un vélo à assistance électrique, et étend désormais son dispositif à l'achat de vélos cargos électriques ou non. Il existe deux aides :

- Une aide pour l’achat d’un vélo électrique jusqu'à 300€
- Une aide pour l’achat d’un vélo cargo jusqu’à 800€ (pour un cargo électrique et 400€ pour un cargo non électrique)
