@import 'tailwindcss';
@config '../tailwind.config.js';
@plugin '@tailwindcss/typography';
@source '../node_modules/layerchart';

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	body {
		@apply bg-white text-gray-900;
	}

	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}
