name: NPM Package
on:
  push:
  pull_request:
jobs:
  tests-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm ci
      - name: Build and Test
        run: |
          npm ci
          npm run build
          npm test
        working-directory: package-aides-velo
      - name: Publish on NPM
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_PUBLISH_SECRET }}
          dry-run: ${{ github.ref != 'refs/heads/master' }}
          package: ./package-aides-velo/package.json
